<style>
#current{
	margin-left:2.5%;
}
#current span input{
	width:5%;
}
</style>
<div id="search_bar">
<%= form_tag search_listings_path, method: :get do |f| %>
<%= select_tag :category, options_for_select(Category.all.map { |c| [c.name, c.id]}) %><br>
<%= text_field_tag :search, nil, placeholder: 'search' %><br>
<%= text_field_tag :location, nil, placeholder: 'near' %><br>
<%= text_field_tag :radius, nil, placeholder: 'within 20 miles' %><br>
<button class="btn-primary"> Search Listings </button>
<% end %>
</div>
<div id="current">
<% if current_user %>


<a href="/listings/new">Create a listing</a><br>
<a href="/users/current_user.id">Your profile</a><br>
<a href="/listings">All Listings</a>

<% end %>
</div>